.logo-title {
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.0rem !important;
  margin-left: -99px;  /* shifts everything left */
}



.site-logo {
  width: 100px !important;
  height: auto !important;  /* adjust */
  
}
