.logo-title {
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.0rem !important;
  margin-left: -110px;  /* shifts everything left */
}



.site-logo {
  height: 100px !important;  /* adjust */
  width: auto !important;
}
