.logo-title {
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.0rem !important;   /* change as needed */
}

.site-logo {
  height: 100px !important;  /* adjust */
  width: auto !important;
}
